body{
    background-image: url('alap.png');
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
}